<div class="instructors-page">
  <div class="instructors-page__header">
    <div>
      <h1>Instructors</h1>
      <p>Manage faculty profiles, assignments, and teaching schedules.</p>
    </div>
    <p-button label="Add Instructor" icon="pi pi-plus" (onClick)="openAddInstructorDialog()" />
  </div>

  <div class="instructors-page__toolbar">
    <app-filters />
    <div class="instructors-page__actions">
      <button
        type="button"
        class="instructors-page__action-link"
        [class.instructors-page__action-link--active]="hasAdvancedFilters()"
        (click)="openAdvancedFilters()"
      >
        <i class="pi pi-filter"></i> More Filters
      </button>
      <button type="button" class="instructors-page__action-link">
        <i class="pi pi-upload"></i> Export
      </button>
    </div>
  </div>

  <app-table />
</div>
