@use '../../../../shared/styles/entity-form';

.course-form__icon-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  i {
    font-size: 1rem;
  }
}

.course-form__color-field {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  input {
    flex: 1;
  }
}
